{% extends "AppPython/padre.html" %}

{% block header_2 %}

<header class="masthead4">
    <section style="text-align: center; color: black; text-shadow: -1px -1px 0 #FFA500, 1px -1px 0 #FFA500, -1px 1px 0 #FFA500, 1px 1px 0 #FFA500;">
        <h3>Detalles del Turno</h3>
    </section><br><br><br>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card" style="width: 20rem; background: rgba(255, 255, 255, 0.8);">
            <div class="card-body">
                <h5 class="card-title", style="text-align: center;">Detalles del Turno</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Nombre:</strong> {{cardiologia.nombre}}</li>
                    <li class="list-group-item"><strong>Apellido:</strong> {{cardiologia.apellido}}</li>
                    <li class="list-group-item"><strong>DNI:</strong> {{cardiologia.dni}}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{cardiologia.email}}</li>
                    <li class="list-group-item"><strong>Especialidad:</strong> {{cardiologia.especialidad}}</li>
                    <li class="list-group-item"><strong>Fecha del Turno:</strong> {{cardiologia.fecha_turno}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'MisTurnos_1' %}" class="btn btn-primary">Regresar</a>
    </div>
</header>
{% endblock %}